* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    padding: 10px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    font-size: 40px;
}

/* /header */

/* sezione input */

.add {
    width: 1000px;
    padding: 10px 50px;
    margin: 3px auto;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
}

.selected {
    background-color: #14aaf5;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #14aaf5;
}

.unselected {
    background-color: white;
    color: #c7cdd2;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c7cdd2;
}

/* /sezione input */

/* main */

main {
    background-color: #f6f8f9;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container {
    background-color: white;
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 5px;
}

section {
    margin-bottom: 50px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

li::before {
    content: '\2713';
    margin-right: 10px;
    display: inline-block;
    color: green;
    border: 2px solid green;
    text-align: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.cross::before {
    content: '\2717';
    margin-right: 10px;
    display: inline-block;
    color: red;
    border: 2px solid red;
    text-align: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.editorial {
    display: inline-block;
    background-color: #14aaf5;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
}

.q1-goals {
    display: inline-block;
    background-color: #ab5de6;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
}

.recruiting {
    display: inline-block;
    background-color: #2cc6ab;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
}

.mobile {
    display: inline-block;
    background-color: #ff9b00;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
}

.website {
    display: inline-block;
    background-color: #ec4a9d;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
}

.sales {
    display: inline-block;
    background-color: #a3d116;
    color: white;
    font-size: 0.8em;
    padding: 5px;
    border-radius: 10px;
}

/* /main */